<%- include('partials/header') %>

<div class="ui main container">
    <div class="ui page">
    	<% if(error && error.length > 0) { %>
				<div class="ui black attached big red message">
				  <i class="close icon"></i>
				  <%= error %>
				</div>
			<% } %>
			<% if(success && success.length > 0) { %>
				<div class="ui success attached big green message">
				  <i class="close icon"></i>
				  <%= success %>
				</div>
			<% } %>

      <% for (task of loadedTasks) { %>
      <div class="ui segment ep_task" id="<%= task.Pk_Id %>">
				<div class="ui ribbon label red"><%= task.Fk_Partner %></div>
				<span><%= task.naziv %></span>
				<p class="ep_tasksubject"><%= task.Subject %></p>
				<div class="ui bottom right attached image label">
					<%= moment(task.Datum).format('ddd D. MMMM'); %>
					<% if(task.PlanOd) { %><span class="detail">Od: <%= moment(task.PlanOd).format( 'DD.MM.' ); %></span><% } %>
					<% if(task.PlanDo) { %><span class="detail">Do: <%= moment(task.PlanDo).format( 'DD.MM.' ); %></span><% } %>
				</div>
      </div>
			<% } %>
    </div>
    <div>
    	<a href="/tasks/new" title="Napravi novi task">
    		<!-- <button id="idNewTask" class="ui big circular red icon button">
    			<i class="big add icon"></i>
    		</button> -->
    		<i id="idNewTask" class="big red circular inverted add icon"></i>
    	</a>
    </div>
</div>

<script>

	var tasks = <%- JSON.stringify(loadedTasks) %>;

	/* jQuery */
	// $(document).ready(function(){
	// 		$('.ui.segment.ep_task').click(function(){
	// 		window.location = '/tasks/' +this.id+ '/edit';
	// 	});
	// });

	/* JS */
	function setup() {
	    // var ep_taskEls = document.getElementsByClassName("ep_task");
	    var ep_taskEls = document.querySelectorAll('.ui.segment.ep_task');
	    
		Array.prototype.forEach.call(ep_taskEls, function(el, i){
      		el.addEventListener('click', function() {
      			window.location = '/tasks/' +this.id+ '/edit';
      		});
		});

	 //    for (var i = 0; i < ep_taskEls.length; i++) {
		//     ep_taskEls[i].addEventListener('click', function() {
  //     			window.location = '/tasks/' +this.id+ '/edit';
  //     		}, false);
		// }
	
		$('.message .close').on('click', function() { $(this).closest('.message').transition('fade'); });
	}

	window.onload = setup;

</script>

<%- include('partials/footer') %>